.box{
  width: 400px;
  float: left;
}

.dev_box{
  height: 300px;
  margin: 0px 0px 20px 0px; 
  padding: 20px 0 0; 

  border: 1px solid #d8d8d8; 
  background: #f9f9f9;
   
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
  border-radius: 4px; 
  -moz-box-shadow: inset 0 0 0 1px #fff;
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff; 
}

.dev_box_head{
  height: 20px;
  line-height: 20px;
  color: #ffffff;
  font-size: 16pt;
  text-align: center;
  vertical-align: middle;
  
  margin: 0px; 
  padding: 10px; 

  border: 1px solid #d8d8d8; 
  background: #000000;
   
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
  border-radius: 4px; 
  -moz-box-shadow: inset 0 0 0 1px #fff;
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff; 
}

.dev_box_status_ok{
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  font-size: 14pt;
  text-align: center;
  vertical-align: middle;

  margin: 0px; 
  padding: 10px;
  
  border: 1px solid #d8d8d8; 
  background: #00ff00;
   
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
  border-radius: 4px; 
  -moz-box-shadow: inset 0 0 0 1px #fff;
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff; 
}

.dev_box_status_notok{
  font-weight: bold;
  height: 60px;
  line-height: 30px;
  font-size: 14pt;
  text-align: center;
  vertical-align: middle;

  margin: 0px; 
  padding: 10px; 

  border: 1px solid #d8d8d8; 
  background: #ff0000;
   
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
  border-radius: 4px; 
  -moz-box-shadow: inset 0 0 0 1px #fff;
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff; 
}

.dev_box_status_full{
  font-weight: bold;
  height: 60px;
  line-height: 30px;
  font-size: 14pt;
  text-align: center;
  vertical-align: middle;

  margin: 0px; 
  padding: 10px; 

  border: 1px solid #d8d8d8; 
  background: #ff4500;
   
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
  border-radius: 4px; 
  -moz-box-shadow: inset 0 0 0 1px #fff;
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff; 
}
